  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

<h1> All User Posts </h1>  

<ul>
<% @posts.each do |post| %>
    <li><%= link_to post.name, post_path(post)%> 
  <br>
    <%= post.content %>
  </li><br>
<% end %>
</ul>

<br>
